@import 'variables';

$img-width: 200px;
$in: #337ab7;
$in-hover: #23527c;



@media only screen and (min-width:1px) {
  body {

    #nosotros{
      border-top: 1px solid #ece9e9;
      background-size: cover;    
      background-image: url(../images/panel-personal.jpg);
      background-attachment: fixed;
      background-position: center center;
      transition: all 0.3s ease 0s;
      .content {
        padding: $space 200px 0px 200px;
      }
      
      .section{
        background-size: cover;   
        background-color: rgba(0,0,0,.45);
        background-image: url(../images/weft-blue.png);
        .title {

          color: #fff;
        }
        .subtitle h4{
          color: #fff;
          text-align: center;
          font-family: Raleway;
          font-weight: 300;
          font-style: italic;
          font-size: 20px;
          margin: 0px;
          margin-top: 30px;
        }
        .button-section{
          margin-top: $space;
          .button-line.md-button {
            background-color: rgba(255, 255, 255, 0.13);
            border: solid 1px #ffffff;
            color: #fff;
          }
        }
      }



      .circle-image {
        width: $img-width;
        height: $img-width;
        max-width: $img-width;
        overflow: hidden;
        text-align: center;
        margin: 0 auto;
        position: relative;
        
        img {
          position: absolute;
          left: 0px;
          top:0px;
          border-radius: 50%;
          width: $img-width;  
          height: $img-width; 
          text-align: center;           
          filter: grayscale(50%);
          -webkit-filter: grayscale(50%);
          -moz-filter: grayscale(50%);
          // filter: blur(0px);
          // -webkit-filter: blur(0px);
          // -moz-filter: blur(0px);
          @include transition(all 500ms ease-out);
        } 
        .telon{
          position: absolute;
          left: 0px;
          top: 0px;
          background-color: #000;
          width: $img-width; 
          height: $img-width; 
          border-radius: 50%;
          opacity:0;
          // filter: blur(0px);
          // -webkit-filter: blur(0px);
          // -moz-filter: blur(0px);
          @include transition(all 500ms ease-out);
        }

        .text {
          visibility: hidden;
          top:70px;
          @include transition(all 500ms ease-out);
          font-family: $font-ralewat;
          .nombre {
            font-weight: 400;
          }
          .cargo {
            font-weight: 500;
          }
          a{            
            color: #fff;
          }
        }
      }
      .circle-image:hover{
       img {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        // filter: blur(2px);
        // -webkit-filter: blur(2px);
        // -moz-filter: blur(2px);
        @include transition(all 500ms ease-out);
      }
      .telon{
        opacity:.5;
        // filter: blur(2px);
        // -webkit-filter: blur(2px);
        // -moz-filter: blur(2px);
        @include transition(all 500ms ease-out);
      }
      .text{
        visibility: visible;
        position: absolute;
        left: 0px;
        top:30px;
        text-align: center;
        width: $img-width;
        padding: 40px 0px;

        @include transition(all 500ms ease-out);
        h4 {
          color: #fff;
          margin: 0px;
          font-family: Lato;
          font-weight: 100;
        }
        h4.cargo{
          font-family: Oswald;
          font-size: 15px;
          padding-top: 5px;
        }
        a{            
          color: #fff;
          text-decoration: none;
          i {
            padding-top:20px;
          }
          
        }
        a:hover{
          color: $in;
          
        }
      }        
    }      
  }
}
}