@import 'variables';
@media only screen and (min-width:1px) {
  body {
    #servicios {
      position: relative;
      background-color: #fff;
      color: $m-green;
      .sub-title {
        color: #000;
      }
      p {
        color: $gray;
        font-weight: 300;
      }
      .fa {
        padding: 0px 0px 15px 0px;
        color: $color-naranja;
      }
    }
    #video {
      padding-top: 60px;
    }
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  body {
    #servicios {
      .section {
        padding: 40px;
        padding-top: 80px;
      }
      .card {
        padding: 0px;
      }
    }
  }
}

@media (max-width: 599px) {
  body {
    #servicios {
      .card {
        padding: 10px 40px;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
      }
    }
  }
}