<div class="margen">
  <img class="img-margen" src="../images/girgy2h3.jpg">
  <div id="clientes">
    <div class="section">
      <div class="title-sec" layout="row" layout-align="center center">
        <h1 class="title">CLIENTES</h1>
      </div>
      <div class="content">
        <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height-gt-md="150px" md-row-height="200px" md-gutter="40px" md-gutter-gt-md="50px">

          <md-grid-tile id="ecoAnalisis" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-click="showAdvanced($event)">
            <div class="info-cont">
              <img src="images/ecoanalisis.png">
            </div>
          </md-grid-tile>
        </md-grid-list>
      </div>
      <div class="title-sec" layout="row" layout-align="center center">
        <h1 class="title">ALIANZAS COMERCIALES</h1>
      </div>
      <div class="content">
        <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height-gt-md="150px" md-row-height="200px" md-gutter="40px" md-gutter-gt-md="50px">

          <md-grid-tile id="ecoAnalisis" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" ng-click="showAdvanced($event)">
            <div class="info-cont">
              <img src="images/ecoanalisis.png">
            </div>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>
  </div>


  <div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
      <md-dialog aria-label="{{cliente.nombre}}">
        <form ng-cloak>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>{{cliente.nombre}}</h2>
              <span flex></span>
            </div>
          </md-toolbar>

          <md-dialog-content>
            <div class="md-dialog-content">
              <img style="margin: auto; max-width: 100%;" alt="{{cliente.nombre}}" src="{{cliente.imagen}}">
              <h3>{{cliente.ubicacion}}</h3>
              <h3>{{cliente.fecha}}</h3>
              <p>
                {{cliente.descripcion}}
              </p>
            </div>
          </md-dialog-content>
        </form>
      </md-dialog>
    </div>
  </div>
</div>