<div id="contacto">
    <div class="background"></div>
    <div class="section">
        <div class="content" layout-xs="column" layout="row" layout-align="center center">

            <md-content layout-padding md-theme="green" id="form-contacto">
                <div>
                    <div>
                        <h3 class="sub-title">ESCRÍBENOS Y OBTÉN LA ASESORÍA TOTALMENTE GRATIS</h3>
                    </div>
                    <div class="div-horizontal"> </div>
                    <form name="userForm">
                        <div layout-xs="column" layout-md="row">
                            <md-input-container class="md-block" flex-xs flex-md>
                                <label>Nombre</label>
                                <input ng-model="user.name" required name="name">
                                <div ng-messages="userForm.name.$error">
                                    <div ng-message="required">El campo es requerido.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex-xs flex-md>
                                <label>Email</label>
                                <input ng-model="user.email" type="email" required name="email">
                                <div ng-messages="userForm.email.$error">
                                    <div ng-message="required">El campo es requerido.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-xs="column" layout-md="row">
                            <md-input-container class="md-block" flex-xs flex-md>
                                <label>Teléfono</label>
                                <input ng-model="user.telefono" type="number" required name="telefono">
                                <div ng-messages="userForm.telefono.$error">
                                    <div ng-message="required">El campo es requerido.</div>
                                </div>
                            </md-input-container>


                            <md-input-container class="md-block" flex-xs flex-md>
                                <label>Ciudad</label>
                                <input ng-model="user.ciudad" required name="ciudad">
                                <div ng-messages="userForm.ciudad.$error">
                                    <div ng-message="required">El campo es requerido.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>¿Cómo podemos ayudarte?</label>
                            <textarea ng-model="user.text" md-maxlength="800" rows="5" minlength="80" md-select-on-focus required name="text"></textarea>
                            <div ng-messages="userForm.text.$error">
                                <div ng-message="required">El campo es requerido.</div>
                                <div ng-message="md-maxlength">La descripción debe ser máximo de 800 caracteres.</div>
                                <div ng-message="minlength">La descripción debe ser mínimo de 80 caracteres</div>
                            </div>
                        </md-input-container>

                        <div layout-xs="column" layout-align="space-between center">
                            <div md-theme="green" style="text-align: center">
                                <md-button type="submit" class="md-raised md-primary" ng-click="send()" ng-disabled="userForm.$invalid">Enviar</md-button>
                            </div>

                        </div>
                        <div layout-xs="column" layout-md="row" layout-align="center center">
                            <h5><span>{{message}}</span></h5>
                        </div>
                        <h5><span>Gracias! Estaremos en contacto en 3 horas o menos.</span></h5>
                    </form>
                </div>
            </md-content>
        </div>

    </div>
</div>