@media only screen and (min-width: 1px) {
  body #contacto {
    position: relative;
    overflow: hidden;
  }
  body #contacto .content {
    padding-top: 80px;
  }
  body #contacto .background {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-size: cover;
    background-image: url(../images/contact.jpg);
    background-attachment: scroll;
    background-position: center bottom;
    transition: all 0.3s ease 0s;
  }
  body #contacto .sub-title {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    color: #05894d;
    text-align: center;
    margin-bottom: 30px;
  }
  body #contacto h5 span {
    color: rgba(0, 0, 0, 0.38);
    font-family: #05894d;
    font-weight: 400;
  }
  body #contacto h5 {
    color: rgba(0, 0, 0, 0.38);
  }
  body #contacto .md-button {
    padding: 0px 60px;
  }
  body #contacto #form-contacto {
    padding: 20px;
  }
  body #contacto #form-contacto form md-input-container.md-amber-theme.md-input-invalid .md-input-message-animation {
    color: #dd2c00 !important;
  }
  body #contacto #form-contacto form md-input-container.md-amber-theme.md-input-invalid .md-input {
    border-color: #dd2c00 !important;
  }
  body #contacto #form-contacto form md-input-container.md-amber-theme.md-input-invalid label {
    color: #dd2c00 !important;
  }
}
