@media only screen and (min-width: 1px) {
  body #cotizador {
    background-color: #fff;
    color: #05894d;
  }
  body #cotizador .texto {
    padding-top: 60px;
  }
  body #cotizador .texto p {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-align: justify;
  }
  body #cotizador .title, body #cotizador .sub-title {
    color: #05894d;
  }
  body #cotizador p {
    color: #3c3c3c;
    font-weight: 300;
    text-align: justify;
  }
  body #cotizador .fa {
    padding: 0px 0px 15px 0px;
    color: #FFC000;
  }
  body #con-factura, body #informe {
    display: none;
  }
  body #con-factura #comentario {
    display: none;
  }
  body #con-foto {
    margin-top: 25px;
  }
  body #con-foto h5 {
    color: #05894d;
    text-align: center;
  }
  body #con-foto .drop-box {
    background: #F8F8F8;
    border: 5px dashed #a8d8c2;
    width: initial;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 0px;
    margin-bottom: 10px;
  }
  body #con-foto .dragover {
    border: 5px dashed blue;
  }
  body .hint {
    color: #000;
    font-size: 11px;
    padding-top: 15px;
    margin-top: 20px;
  }
  body .md-button {
    margin: 15px 0px;
  }
  body #form-factura {
    padding: 30px 0px;
  }
  body #form-factura form {
    padding: 20px 50px;
    background-color: #f5f5f5;
    max-height: initial;
  }
  body #form-factura form md-input-container {
    margin: 10px 0px 0px 0px;
  }
  body #form-factura form md-input-container > md-select {
    margin: 10px 0px 25px 0px;
  }
  body #form-factura form md-input-container.md-amber-theme.md-input-invalid .md-input-message-animation {
    color: #dd2c00;
  }
  body #form-factura form md-input-container.md-amber-theme.md-input-invalid .md-input {
    border-color: #dd2c00;
  }
  body #form-factura form md-input-container.md-amber-theme.md-input-invalid label {
    color: #dd2c00;
  }
  body #form-factura form md-input-container label, body #form-factura form md-input-container {
    font-size: 15px;
  }
  body #form-factura form .md-select-value > span:not(.md-select-icon) .md-text {
    color: #3c3c3c;
  }
  body #form-factura .bnt-form {
    text-align: center;
    margin: 30px 0px 15px 0px;
  }
  body #form-factura .bnt-form .md-button {
    width: 50%;
    padding: 3px 0px;
  }
  body #informe nvd3 {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 10px 0px;
  }
  body #informe .title-d3 {
    font-size: 20px;
    color: #05894d;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding: 15px;
  }
  body #informe table {
    margin: 10px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: top;
    color: rgba(60, 60, 60, 0.69);
  }
  body #informe table td, body #informe table th {
    padding: 10px;
  }
  body #informe #t_una thead {
    padding: 10px;
    font-size: 18px;
    background-color: #FFC000;
    font-weight: 700;
  }
  body #informe #t_una tbody {
    background-color: #f5f5f5;
  }
  body #informe #t_una #nps {
    font-size: 70px;
    font-weight: 700;
  }
  body #informe #t_una .ars {
    font-size: 25px;
    font-weight: 600;
  }
  body #informe #t_una #mse {
    font-size: 35px;
    font-weight: 700;
  }
  body #informe #t_dos thead {
    padding: 10px;
    font-size: 18px;
    background-color: #7B7B7B;
    font-weight: 700;
  }
  body #informe #t_dos td {
    font-weight: 700;
    background-color: #C8C8C8;
  }
  body #informe #t_tres thead {
    padding: 10px;
    font-size: 18px;
    background-color: #05894d;
    font-weight: 700;
  }
  body #informe #t_tres td {
    font-weight: 700;
    background-color: #8BC34A;
  }
  body #informe #t_cuatro thead {
    padding: 10px;
    font-size: 18px;
    background-color: #f5f5f5;
    font-weight: 700;
  }
  body #informe #t_cuatro td {
    font-weight: 700;
    background-color: #f5f5f5;
  }
  body #informe #t_cinco td {
    font-size: 30px;
    font-weight: 700;
    background-color: #f5f5f5;
  }
}
md-radio-button.md-checked .md-off {
  border-color: #FFC000;
}

md-radio-button .md-on {
  background-color: #FFC000;
}

md-radio-group .md-checked .md-ink-ripple {
  color: #FFC000;
}

md-radio-button .md-off {
  border-color: #FFC000;
}

md-radio-button .md-on {
  background-color: #FFC000;
}

@media (max-width: 599px) {
  body #cotizador #form-factura {
    padding: 0px;
  }
  body #cotizador #form-factura form {
    padding: 20px 10px;
  }
  body #cotizador .texto {
    padding-top: 10px;
  }
}
