@media only screen and (min-width: 1px) {
  body #servicios {
    position: relative;
    background-color: #fff;
    color: #05894d;
  }
  body #servicios .sub-title {
    color: #000;
  }
  body #servicios p {
    color: #000;
    font-weight: 300;
  }
  body #servicios .fa {
    padding: 0px 0px 15px 0px;
    color: #FFC000;
  }
  body #video {
    padding-top: 60px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  body #servicios .section {
    padding: 40px;
    padding-top: 80px;
  }
  body #servicios .card {
    padding: 0px;
  }
}
@media (max-width: 599px) {
  body #servicios .card {
    padding: 10px 40px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
