@media only screen and (min-width: 1px) {
  body #servicios {
    background-color: #fff;
    color: #05894d;
  }
  body #servicios .title, body #servicios .sub-title {
    color: #05894d;
  }
  body #servicios p {
    color: #000;
    font-weight: 300;
  }
  body #servicios .fa {
    padding: 0px 0px 15px 0px;
    color: #FFC000;
  }
  body #video {
    padding-top: 60px;
  }
}
