body p {
  font-weight: 100;
  font-size: 1rem;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #808080;
}

#wrap {
  min-height: 100%;
  background-color: #fff;
  color: #808080;
  font-family: "Raleway", sans-serif;
}

@media only screen and (min-width: 1px) {
  body .nav {
    position: relative;
    margin: 0px;
  }
  body .nav .navigation {
    margin: 0px;
    position: absolute;
    top: 70px;
    left: 0px;
    right: 0px;
    z-index: 1;
  }
  body .nav .navigation md-nav-bar {
    width: 100%;
  }
  body .nav .navigation md-nav-bar .md-nav-bar {
    height: 90px;
    border: 0px;
  }
  body .nav .navigation md-nav-bar .md-nav-bar ._md-nav-bar-list {
    margin: 0 auto;
  }
  body .nav .navigation md-nav-bar .md-nav-bar ._md-nav-bar-list .md-nav-item {
    margin: 0 auto;
  }
  body .nav .navigation md-nav-bar .md-nav-bar nav {
    width: 70%;
    margin: 0 auto;
  }
  body .nav .navigation md-nav-bar .md-nav-bar .md-button._md-nav-button {
    line-height: 90px;
    margin: 0 4px;
    padding: 0px 16px;
    font-size: 1.2rem;
  }
  body .nav .navigation md-nav-bar .md-nav-bar .md-button.md-accent {
    color: #BF9000;
  }
  body .nav .navigation md-nav-bar .md-nav-bar .md-button.md-active {
    color: #BF9000;
  }
  body .nav .navigation md-nav-bar .md-nav-bar md-nav-ink-bar {
    background: #BF9000;
    top: 20px;
  }
  body .nav .navigation md-nav-bar .md-nav-bar md-nav-ink-bar.md-active {
    background: #BF9000;
  }
  body .logo {
    margin: 0px;
    height: 70px;
    border-bottom: 2px solid #FFC000;
  }
  body .logo img {
    height: 80;
  }
  body .header {
    margin: 0px;
    background-size: cover;
    position: relative;
    height: calc(100vh - 70px);
    background-image: url(../images/Girgy2.jpg);
    width: 100%;
    background-attachment: scroll;
    background-position: center 70%;
    transition: all 0.3s ease 0s;
  }
  body .header .title {
    height: calc(90vh - 70px);
    /*       background-color: rgba(0,0,0,.45);
          background-image: url(../images/weft-blue.png); */
  }
  body .header .title h1, body .header .title h2, body .header .title h3 {
    color: #516b22;
    text-align: left;
    font-family: "Raleway", sans-serif;
  }
  body .header .title h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: .6rem;
  }
  body .header .title h2 {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: .6rem;
  }
  body .header .title h3 {
    font-family: "Raleway", sans-serif;
    line-height: 0.4rem;
    font-weight: 400;
    font-size: 25px;
  }
  body .header .title .button {
    padding: 2px 35px;
    background-color: #e2cb10;
    color: #FFF;
    font-weight: 500;
  }
  body .header #ver-mas {
    background-color: #368A88;
    color: #fff;
  }
  body .header .texto {
    text-align: center;
    padding: 120px 0px 50px 0px;
  }
  body .header .social-header {
    position: absolute;
    width: 100%;
    bottom: 15px;
  }
  body .header .social-header span i {
    color: #e0e0e0;
  }
  body .header .social-header span .fa-inverse {
    color: #5d6473;
  }
  body .header .social-header span i:hover {
    color: #05894d;
    cursor: pointer;
  }
  body .header .social-header span .fa-inverse:hover {
    color: #05894d;
  }
  body .button-line {
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px #516b22;
    min-width: 200px;
    margin: 0px;
  }
  body #footer {
    background-color: #3c3c3c;
    padding: 30px 60px;
    height: auto;
  }
  body #footer hr {
    border: 0px;
    width: 50%;
    border-top: 1px solid #ffc000;
  }
  body #footer #contacto ul {
    display: block;
  }
  body #footer #contacto ul li {
    color: #808080;
    padding: 0px 30px;
    font-size: .9rem;
  }
  body #footer #contacto ul .cont {
    padding: 5px 30px;
  }
  body #footer #contacto ul strong {
    color: #FFC000;
  }
  body #footer #contacto .social a {
    color: #808080;
  }
  body #footer #contacto .social a:hover {
    color: #b9b8b8;
  }
  body #footer #contacto .social #facebook i {
    color: #3750A2;
  }
  body #footer #contacto .social #facebook .fa-inverse {
    color: #3c3c3c;
  }
  body #footer #contacto .social #youtube i {
    color: #CF3427;
  }
  body #footer #contacto .social #youtube .fa-inverse {
    color: #3c3c3c;
  }
  body #footer #contacto .social #twitter i {
    color: #54ABEE;
  }
  body #footer #contacto .social #twitter .fa-inverse {
    color: #3c3c3c;
  }
  body #footer ul {
    list-style-type: none;
    display: inline-flex;
    margin-bottom: 0px;
    padding: 0px;
  }
  body #footer ul li {
    padding: 5px 30px;
  }
  body #footer ul li a {
    color: #FFC000;
    text-decoration: none;
  }
  body #footer ul li a:hover {
    color: #BF9000;
  }
  body #footer span i {
    color: #05894d;
  }
  body #footer span .fa-inverse {
    color: #3c3c3c;
  }
  body .section {
    padding: 70px 98px;
    padding-top: 120px;
  }
  body .section .title {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
    text-rendering: optimizeLegibility;
    line-height: .95;
    font-weight: 500 !important;
    color: #05894d;
    margin: 0px;
    z-index: 1000;
  }
  body .section .content {
    padding-top: 70px;
  }
  body .card {
    padding: 0px 20px;
    text-align: center;
    min-height: 220px;
  }
  body .card .sub-title {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin: 0px;
    line-height: 1;
  }
  body .card .content-card {
    margin: 0px;
    padding: 0px;
  }
  body .card .content-card p {
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    color: #484848;
    font-weight: 300;
  }
  body .card.card-left {
    padding: 0px 20px 0px 0px;
  }
  body .card.card-right {
    padding: 0px 0px 0px 20px;
  }
  body .card-logo {
    overflow: hidden;
  }
  body .card-logo img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    display: none;
  }
}
